table td,tr{
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  width:100px;
  height:100px;
  text-align:center;
  background-color: rgba(255,255,255,.5);


}
table{
	vertical-align: middle;
}
.container{
	text-align: center;
	
}

#text{
	background-color: rgba(255,255,255,.5);
	display: block;
}

.filler{
	height:200px;
	border: 1px solid white;
	margin: 0 auto;
	text-align: center;
}

body{
	
	background-image: url(../image/mex.gif);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;	
}

.desert {
	background-image: url(../image/desert.gif);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.mex {
	background-image: url(../image/mex.gif);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.gym{
	background-image: url(../image/gym.gif);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.japon {
	background-image: url(../image/japon.gif);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.tpark {
	background-image: url(../image/tpark.gif);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.wfall {
	background-image: url(../image/waterfall.gif);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.port {
	background-image: url(../image/port.gif);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.spiral {
	background-image: url(../image/spiral.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
html{
	min-height: 100%;
	min-width: 1000px;
}

#display{
	color: white;
}

.box1, .box3{
	width: 200px;
	height: 200px;
}

.box1, .box2, .box3{
	display: inline-block;
	color:white;
	margin:0px 10px;
	border: 1px solid white;
	vertical-align: top;

}

.box1 p, .box3 p{
	font-size: 20px;
	text-decoration: underline;
}


.box1 p1, .box3 p1{
	font-size: 40px;
	margin: 0 10px;
	border: 1px solid white;
	
	display: block;

}
.box1 img, .box3 img{
	
	margin: 0 10px;
	border: 1px solid white;
	vertical-align: top;

}