table td,tr{
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  width:100px;
  height:100px;
  text-align:center;
  background-color: rgba(255,255,255,.5);


}
table{
	vertical-align: middle;
}
.container{
	text-align: center;
	
}

#text{
	background-color: rgba(255,255,255,.5);
	display: block;
}

.filler{
	height:200px;
}

body{
	
	background-image: url(../image/gym.gif);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
	
}

html{
	min-height: 100%;
}

.box1, .box3{
	width: 200px;
	height: 200px;
}

.box1, .box2, .box3{
	display: inline-block;
	color:white;
	margin:0px 10px;
	border: 1px solid white;
	vertical-align: top;

}

.box1 p, .box3 p{
	font-size: 20px;
	text-decoration: underline;
}


.box1 p1, .box3 p1{
	font-size: 30px;
	margin: 0 10px;
	border: 1px solid white;
	vertical-align: top;

}
.box1 img, .box3 img{
	
	margin: 0 10px;
	border: 1px solid white;
	vertical-align: top;

}