<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>Tic Tac Toe</title>
	<script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/firebase.js"></script>
    <script type="text/javascript" src="js/angularfire.js"></script>

	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/styles.css">

	<script src="js/main.js"></script>
  	<script src="js/controller.js"></script>
	

</head>

<body ng-controller="t3Controller">
	<div class="container">

	<div class="filler"></div>
	<div class="box1">
		<p>P1 SCORE</p>
		<img src="image/{{p1}}">
		<p1>{{player1Wins}}</p1>
	</div>

	<div class="box2">
		<table align="center">

        	<tr ng-repeat="row in t3box">
        		<td ng-repeat="col in row track by $index" ng-click="changeBox($parent.$index,$index)">
          			<img ng-src="image/{{col}}">
          
          		</td>
        	</tr>
		</table>

		<button class="button" ng-click="clearBox()">clear~</button>
		<span id="text"></span>
	</div>
	<div class="box3">
		<p>P2 SCORE</p>
		<p1>{{player2Wins}}</p1>
		<img src="image/{{p2}}">
	</div>

	</div>


</body>
</html>
